.vscode
Sesion2-Procesos/.vscode

Entregable/PrimeraParte/p1/*.dat
Entregable/PrimeraParte/p1/*.txt
Entregable/PrimeraParte/p1/*.log

Entregable/PrimeraParte/p2/*.dat
Entregable/PrimeraParte/p2/*.txt
Entregable/PrimeraParte/p2/*.log

Entregable/PrimeraParte/p2/*.o
Entregable/PrimeraParte/p2/srvdns_*
